{% extends 'catalog/base.html' %}
{% load i18n %}


{% block content %}

    <div class="col-md-9">
        <div class="d-flex flex-column h-100 justify-content-center align-items-center">
            <h1 class="text-center title">регистрация</h1>
            <h2>{% trans 'Password Reset' %}</h2>
            <p>{% trans 'Hello,' %}</p>
            <p>{% trans 'You have requested to reset your password. Please use the following credentials to log in:' %}</p>
            <p>{% trans 'Email: ' %}{{ email }}</p>
            <p>{% trans 'New Password: ' %}{{ new_password }}</p>
            <p>{% trans 'After logging in, you can change your password in your account settings.' %}</p>
            <p>{% trans 'Thank you!' %}</p>
        </div>
    </div>
{% endblock %}