{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-9">
        <div class="d-flex flex-column h-100 justify-content-center align-items-center">
            <h1 class="text-center title">Изменение записи блога {{ object.title }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form }}
                {% endfor %}
                <button type="submit">Submit</button>
            </form>


        </div>

    </div>



{% endblock %}