<! —базовый шаблон —>
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <style>
        html, body, .container-fluid, .row, .col-md-3 {
            height: 100%;
        }

        {% static 'bootstrap/css/bootstrap.min.css' %}
        .title {
            margin-top: 50px;
        }
    </style>
</head>
<body>

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-3">
            <h1 class="visually-hidden">Sidebars examples</h1>
            <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark h-100" style="width: 280px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="bi pe-none me-2" width="40" height="50">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4">Меню</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="/categorii" class="nav-link text-white">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="/categorii"></use>
                            </svg>
                            Категории
                        </a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="/create" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="/create"></use>
                                </svg>
                                Создать Продукт
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="/create_cat" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="/create_cat"></use>
                                </svg>
                                Создать категорию
                            </a>
                        {% endif %}
                    </li>

                    <li>
                        <a href="/contacts" class="nav-link text-white">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="/contacts"></use>
                            </svg>
                            Контакты
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blog:blog_post_list' %}" class="nav-link text-white">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="{% url 'blog:blog_post_list' %}"></use>
                            </svg>
                            Блог
                        </a>
                    </li>


                    <hr>
                    <li>
                        {% if user.is_authenticated %}
                            <a class="nav-link text-white">

                                вы вошли как:
                                {{ user }}
                            </a>


                            <a href="{% url 'users:logout' %}" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="{% url 'users:logout' %}"></use>
                                </svg>
                                Выход
                            </a>
                            <a href="{% url 'users:update' %}" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="{% url 'users:update' %}"></use>
                                </svg>
                                Профиль
                            </a>
                            <a href="{% url 'users:gen_pass' %}" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="{% url 'users:gen_pass' %}"></use>
                                </svg>
                                Сбросить пароль
                            </a>
                        {% else %}
                            <a href="{% url 'users:login' %}" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="{% url 'users:login' %}"></use>
                                </svg>
                                Войти
                            </a>
                            <a href="{% url 'users:password_reset' %}" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="{% url 'users:password_reset' %}"></use>
                                </svg>
                                Востановление пароля
                            </a>
                            <a href="{% url 'users:register' %}" class="nav-link text-white">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="{% url 'users:register' %}"></use>
                            </svg>
                            Регистрация
                            </a>

                        {% endif %}
                    </li>


                </ul>
            </div>
        </div>

        {% block content %}
        {% endblock %}
        {% include 'catalog/inc.html' %} {# подключение подшаблона #}

    </div>
</div>


</body>
</html>