{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-md-9">
            <div class="d-flex flex-column h-100 justify-content-center align-items-center">
                <h1 class="text-center title">Каталог категорий</h1>


                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Категория 1</h5>
                                <p class="card-text">100 рублей</p>
                                <p class="card-text"><small class="text-body-secondary">Описание товара</small></p>
                                <button type="button" class="btn btn-primary">Купить</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Товар 2</h5>
                                <p class="card-text">200 рублей</p>
                                <p class="card-text"><small class="text-body-secondary">Описание товара</small></p>
                                <button type="button" class="btn btn-primary">Купить</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Товар 3</h5>
                                <p class="card-text">300 рублей</p>
                                <p class="card-text"><small class="text-body-secondary">Описание товара</small></p>
                                <button type="button" class="btn btn-primary">Купить</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

{% endblock %}