{% extends 'catalog/base.html' %}

{% load static %}
{% load media_tags %}


{% block content %}
    <div class="col-md-9">

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                        <img src="{% mediapath item.picture_product %}" alt="..."/></div>
                    <div class="col-md-6">

                        <h1 class="display-5 fw-bolder">Название автомобиля:{{ item.product_name }}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text">Цена: {{ item.price_product }} рублей </span>

                        </div>
                        <p class="lead"> Описание товара: {{ item.description_product }} </p>
                        <p class="lead">Дата создания карточки: {{ item.date_of_creation_product }}</p>
                        <p class="lead">Дата обновления карточки: {{ item.last_modified_date_product }}</p>
                        <p class="lead">Созданно: {{ item.user }}</p>

                        {% if user.is_authenticated %}
                            {% if perms.catalog.delete_product %}
                                <a class="btn btn-primary blog m-2" href={% url 'catalog:delete_product' object.pk %}>Удалить</a>
                            {% endif %}
                            {% if perms.catalog.change_product %}
                                <a class="btn btn-primary blog m-2" href={% url 'catalog:update_product' object.pk %}>Редактировать</a>
                            {% endif %}
                        {% endif %}


                    </div>
                </div>
            </div>


    </div>


{% endblock %}